#splashscreen {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: #fff !important;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    color: #000;
    z-index: 9999;
    font-display: swap;
    font-family: monospace, monospace;
}

#splashscreen div {
    display: block;
    text-align: center;
    width: 100%;
}

#splashscreen .progress {
    margin: 0px;
    position: absolute;
    bottom: 2px;
    height: 6px;
}

#splashscreen span.title {
    font-size: 2em;
    display: block;
}

#splashscreen span.descripton {
    font-weight: 200;
}